<!DOCTYPE html>
<html>
	<head>
		<title>Displait</title>
		<link href="/media/css/displait.css" rel="stylesheet">
		<link href="/media/css/smoothness/jquery-ui.css" rel="stylesheet">{% block extra_head %}{% endblock extra_head %}
	</head>
	<body>
		{% block main %}{% endblock main %}
		<script src="/media/js/dateformat.js" type="text/javascript"></script>
		<script src="/media/js/jquery.js" type="text/javascript"></script>
		<script src="/media/js/jquery-ui.js" type="text/javascript"></script>
		<script src="/media/js/displait.js" type="text/javascript"></script>{% block extra_script %}
		<script src="/media/js/default.js" type="text/javascript"></script>{% endblock extra_script %}
	</body>
</html>