<div class="todo board-item border-radius-medium fine-gradient">
			<div class="todo-header dark-gradient">
				<h6>TODO List</h6>
				<span>Today</span>
				<ul class="fine-gradient">
					<li><a href="">Today</a></li>
					<li><a href="">Ordered By Date</a></li>
					<li><a href="">By Day</a></li>
				</ul>
			</div>
			<ul class="todo-items">
				<li>
					<h6>Today</h6>
				</li>
				<li>
					<form action="#" method="post">
						<input type="checkbox" name="todo-1-1" id="todo-1-1" />
						<p>Do this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and that</p>
						<a href="#" title="Change this TODO item" class="button green-button">Change</a>
					</form>
				</li>
				<li>
					<form action="#" method="post">
						<input type="checkbox" name="todo-1-2" id="todo-1-2" />
						<p>Do this and thato this and thato this and thato this and that</p>
						<a href="#" title="Change this TODO item" class="button green-button">Change</a>
					</form>
				</li>
				<li>
					<form action="#" method="post">
						<input type="checkbox" name="todo-1-3" id="todo-1-3" />
						<p>Do this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and that</p>
						<a href="#" title="Change this TODO item" class="button green-button">Change</a>
					</form>
				</li>
				<li>
					<form action="#" method="post">
						<input type="checkbox" name="todo-1-4" id="todo-1-4" />
						<p>Do this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and that</p>
						<a href="#" title="Change this TODO item" class="button green-button">Change</a>
					</form>
				</li>
				<li>
					<form action="#" method="post">
						<input type="checkbox" name="todo-1-5" id="todo-1-5" />
						<p>Do this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and that</p>
						<a href="#" title="Change this TODO item" class="button green-button">Change</a>
					</form>
				</li>
				<li class="todo-inactive todo-done">
					<h6><a href="">Done</a></h6>
					<ol>
						<li>
							<p>Do this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and that</p>
							<a href="#" title="Change this TODO item" class="button green-button">Reactivate</a>
						</li>
						<li>
							<p>Do this and thato this and thato this and thato this and that</p>
							<a href="#" title="Change this TODO item" class="button green-button">Reactivate</a>
						</li>
						<li>
							<p>Do this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and that</p>
							<a href="#" title="Change this TODO item" class="button green-button">Reactivate</a>
						</li>
						<li>
							<p>Do this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and that</p>
							<a href="#" title="Change this TODO item" class="button green-button">Reactivate</a>
						</li>
						<li class="last">
							<p>Do this and thatDo this and thatDo this and thatDo this and thatDo this and thatDo this and that</p>
							<a href="#" title="Change this TODO item" class="button green-button">Reactivate</a>
						</li>
					</ol>
				</li>
				<li class="last">
					<a href="#" title="Add new TODO item" class="button blue-button">Add New</a>
				</li>
			</ul>
		</div>